*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
h1{
	font-family: Calibri;
	font-weight: bold;
	font-size: 2.3rem;
}
h2{
	font-family: Calibri;
	font-style: regular;
	font-size: 1.8rem;
}
p{
	font-family: Calibri;
	font-style: regular;
	font-size: 1.3rem;
}
.logomenu{
	display: flex;
	background: black;
	width: 100%;
	height: 80px;
	margin: auto;
}
.logomenu img{
	margin: auto;
}
nav{
	margin: auto;
}
nav ul li{
	margin: 20px;
	display: inline;
}
nav ul li a{
	font-family: Lucida Handwriting;
	text-transform: uppercase;
	color: white;
}
a:hover, .active{
	color: #ffcc99;
	text-decoration: underline;
}
.menubar{
	display: none;
}
.slide img{
	width: 100%;
}
.slide h1{
	width: 590px;
	height: auto;
	/*background: red;*/
	text-transform: uppercase;
	position: relative;
	bottom: 470px;
	color: white;
	text-shadow: 1px 2px;
}
.slide p{
	width: 470px;
	height: auto;
	text-align: center;
	position: relative;
	bottom: 420px;
	color: white;
	background-color: rgba(0, 0, 0, 0.09);
}
#slide{
	margin: auto;
}

/*main*/
.content1{
	background: #ff9999;
	width: 100%;
	height: 500px;
	position: relative;
	bottom: 135px;
	text-align: center;
}
.content1 h1{
	padding-top: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.content1 h2{
	color: #666666;
	padding-bottom: 50px;
}
.content1 section{
	display: flex;
	justify-content: space-around;
	margin-left: 100px;
	margin-right: 100px;
}
.content11{
	width: 170px;
	height: 240px;
	background: #000000;
}
.content11 a{
	color: #ffffff;
	font-size: 1.3rem;
	text-transform: capitalize;
}
.content2{
	position: relative;
	bottom: 140px;
}
.content2 img{
	width: 100%;
}
.content2 h1{
	width: 75%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.09);
	margin: auto;
	position: inherit;
	bottom: 410px;
	font-size: 1.8rem;
	color: #ff6633;
	font-family: Calibri;
	font-weight: 500;
}
.btn{
	width: 200px;
	height: 50px;
	background: #ff6633;
	margin: auto;
	padding: 12px 30px;
	cursor: pointer;
	color: #ffffff;
	font-size: 2.3rem;
	font-family: Calibri;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 10px 30px;
}
.btn:hover{
	text-decoration: underline;
}
#btn1{
	position: relative;
	bottom: 350px;
}
.content3{
	position: relative;
	bottom: 270px;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}
.content3 h1{
	padding-top: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.content3 h2{
	color: #666666;
	padding-bottom: 50px;
}
.content31,.content32,.content33,.content34 {
	width: 100%;
	display: flex;
	justify-content: center;
	cursor: pointer;
	padding: 1px 5px;
}
.content31 img, .content32 img, .content33 img, .content34 img{
	padding: 5px;
}

.content4{
	width: 100%;
	height: 500px;
	background-image: linear-gradient(to top, #333333,#000000);
	position: relative;
	bottom: 230px;
	text-align: center;
}
.content4 h1{
	color: white;
	font-weight: 500;
	padding-top: 150px;
}
#btn2{
	position: relative;
	top: 60px;
}

.content5{
	background: #ff9999;
	width: 100%;
	height: 500px;
	position: relative;
	bottom: 230px;
	text-align: center;
}
.content5 h1{
	padding-top: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.content5 h2{
	color: #666666;
	padding-bottom: 50px;
}
.content5 section{
	display: flex;
	justify-content: space-around;
	margin-left: 100px;
	margin-right: 100px;
}
.content51{
	width: 212px;
	height: 270px;
	background: #000000;
}
.content51 a{
	color: #ffffff;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: Calibri;
	font-weight: bold;
}

.content6{
	background: #663333;
	width: 100%;
	height: 530px;
	position: relative;
	bottom: 230px;
	text-align: center;
}
.content6 h1{
	padding-top: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: #ffffff;
}
.content6 h2{
	color: #666666;
	padding-bottom: 100px;
}
.content61{
	width: 70%;
	margin: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.content611{
	width: 150px;
	height: 150px;
	transform: rotate(45deg);
	border: 1px solid white;
}
.content611 img{
	width: 100%;
	transform: rotate(-45deg);
	cursor: pointer;
}

.footer{
	width: 100%;
	height: 80px;
	background: #333333;
	position: relative;
	bottom: 230px;
}
.footer p{
	text-align: center;
	padding-top: 25px;
	color: white;
}
.footer a{
	color: #ff9933;
}