@media (min-width:700px) and (max-width: 1000px){
	h1{
	font-family: Calibri;
	font-weight: bold;
	font-size: 1.8rem;
}
	h2{
	font-family: Calibri;
	font-style: regular;
	font-size: 1.6rem;
}
	p{
	font-family: Calibri;
	font-style: regular;
	font-size: 1rem;
}
nav ul li{
	margin: 10px;
	display: inline;
}
.slide h1{
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
	bottom: 350px;
}
.slide p{
	position: relative;
	bottom: 300px;
}
.content1 section{
	margin-left: 50px;
	margin-right: 50px;
}
.content5 section{
	align-items: center;
	margin-left: 25px;
	position: relative;
	left: 50px;
	right: 50px;
}
.content6{
	padding-top: 30px;
}
.content611{
	width: 120px;
	height: 120px;
}

}

@media (min-width:500px) and (max-width: 700px){
h1{
	font-family: Calibri;
	font-weight: bold;
	font-size: 1.5rem;
}
h2{
	font-family: Calibri;
	font-style: regular;
	font-size: 1.2rem;
}
p{
	font-family: Calibri;
	font-style: regular;
	font-size: 0.9rem;
}
.logomenu img{
	width: 25%;
	margin-top: 0px;
	margin-left: 20px;
}
nav{
	margin-top: 5px;
}
nav ul li{
	margin: 10px;
	display: inline;
}
nav ul li a{
	font-size: 10px;
}
.slide h1{
	padding-left: 60px;
	padding-right: 60px;
	position: relative;
	bottom: 270px;
}
.slide p{
	position: relative;
	bottom: 240px;
}
.content1 section{
	margin-left: 10px;
	margin-right: 10px;
}
.content11{
	width: 150px;
	height: 220px;
}
.content11 img{
	width: 100%;
}
.content2 h1{
	width: 90%;
	position: inherit;
	bottom: 250px;
	font-size: 1.4rem;
}
.btn{
	width: 150px;
	height: 45px;
	background: #ff6633;
	margin: auto;
	padding: 12px 25px;
	border-radius: 10px 25px;
}
#btn1{
	position: relative;
	bottom: 220px;
}
.content5 section{
	display: flex;
	justify-content: space-between;
}
.content51{
	width: 250px;
	height: 180px;
	margin: 5px;
}
.content51 img{
	width: 100%;
}
.content51 a{
	font-size: 1rem;
}
.content6{
	padding-top: 30px;
}
.content611{
	width: 100px;
	height: 100px;
}

}

@media (min-width:120px) and (max-width: 500px){
h1{
	font-family: Calibri;
	font-weight: bold;
	font-size: 1.1rem;
}
h2{
	font-family: Calibri;
	font-style: regular;
	font-size: 0.8rem;
}
p{
	font-family: Calibri;
	font-style: regular;
	font-size: 0.7rem;
}
.logomenu img{
	width: 80%;
	margin-top: 0px;
	margin-left: 20px;
}
nav{
	margin-top: 5px;
}
nav ul li{
	margin: 10px;
	display: inline;
}
nav ul li a{
	font-size: 10px;
}
nav{
	display: none;
}
.menubar{
	width: 40px;
	height: 27px;
	background-color: white;
	cursor: pointer;
	border: none;
	display: block;
	margin: 15px 10px 10px 50px;
}
/*.menubar:focus{
	box-shadow: 0 0 15px;
}*/
.menubar{
	display: block;
}
.menubar div{
	width: 25px;
	height: 2px;
	background-color: black;
	margin: 5px;
	transition: all 0.3s ease;
}
.slide h1{
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	bottom: 160px;
}
.slide p{
	width: 270px;
	height: auto;
	position: relative;
	bottom: 135px;
}
.content1{
	width: 100%;
	height: 900px;
	position: relative;
	bottom: 80px;
	text-align: center;
	align-items: center;
}
.content1 h1{
	padding-top: 20px;
	padding-bottom: 10px;
}
.content1 h2{
	padding-bottom: 0px;
}
.content1 section{
	margin-left: 55px;
	margin-right: 55px;
	display: block;
}
.content11{
	width: 150px;
	height: 220px;
	margin: 20px;
}
.content11 img{
	width: 100%;
}
.content2 h1{
	width: 90%;
	position: inherit;
	bottom: 160px;
	font-size: 1rem;
}
.btn{
	width: 120px;
	height: 35px;
	background: #ff6633;
	margin: auto;
	padding: 10px 20px;
	border-radius: 5px 25px;
}
#btn1{
	position: relative;
	bottom: 150px;
}
/*.content3{
	display: block;
}
.content31, .content32, .content33 .content34 {
	display: block;
}
.content31 img, .content32 img{
	width: 90%;
}
.content33 img, .content34 img{
	width: 100%;
}*/
.content4{
	width: 100%;
	height: 400px;
}
.content5{
	width: 100%;
	height: 1050px;
}
.content5 h2{
	padding-bottom: 20px;
}
.content5 section{
	display: block;
	margin-left: 35px;
	margin-right: 35px;
}
.content51{
	width: 212px;
	height: 270px;
	background: #000000;
	margin: 20px;
}
.content51 a{
	color: #ffffff;
	font-size: 1.3rem;
	text-transform: uppercase;
	font-family: Calibri;
	font-weight: bold;
}
.content51 img{
	width: 100%;
}
.content51 a{
	font-size: 1rem;
}
.content6{
	width: 100%;
	height: 400px;
	padding-top: 30px;
}
.content6 h2{
	padding-bottom: 80px;
}
.content611{
	width: 50px;
	height: 50px;
}
.footer{
	width: 100%;
	height: 60px;
}

}